@model DateTime

<div class="date-decorator">
    <span class="date-decorator-month">@Model.ToString("MMM")</span>
    <span class="date-decorator-day">@Model.ToString("dd")</span>
    <span class="date-decorator-year">@Model.ToString("yyyy")</span>
</div>